# The Top 1000 Wealthiest People in the World and the Industries they work in!

## Intro

The purpose of this project is to create a Juypter Notebook that utilizes Pandas to generate descriptive statistics. It establishes an environment on codespaces and uses Github Actions to run a Makefile for : make install, make test, make format, and make lint. It loads the Top Wealthiest data set from Kaggler and utiize a library to run functions that will generate a pie chart as well as some summary statistics about the data.

In [18]:
from mylib.lib import (
    load_data,
    plot_pie_chart,
    summary_stats,
    grab_mean,
    grab_min,
    grab_std,
    grab_max,
)

example_csv = "C:\Users\uzoma\IndividualProject1_Uzo\Top_1000_wealthiest_people.csv"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \UXXXXXXXX escape (4173518749.py, line 11)

In [15]:
general_df = load_data(example_csv)
general_df.head()
assert general_df is not None
assert general_df.shape == (1000, 5)

TypeError: load_data() takes 0 positional arguments but 1 was given

In [16]:
general_df = load_data(example_csv)
test_mean = grab_mean(general_df, "Net Worth (in billions)")
test_min = grab_min(general_df, "Net Worth (in billions)")
test_max = grab_max(general_df, "Net Worth (in billions)")
test_std = grab_std(general_df, "Net Worth (in billions)")
test_describe = general_df.describe()
assert test_describe.loc["mean", "Net Worth (in billions)"] == test_mean
assert test_describe.loc["std", "Net Worth (in billions)"] == test_std
assert test_describe.loc["max", "Net Worth (in billions)"] == test_max
assert test_describe.loc["min", "Net Worth (in billions)"] == test_min
assert summary_stats == test_describe

TypeError: load_data() takes 0 positional arguments but 1 was given

## Data Visualization

We will now create a pie chart of the percentage of wealth for these 1000 billionaires by industry.

In [9]:
plot_pie_chart(data_frame=example_csv)

AttributeError: 'str' object has no attribute 'groupby'

# Conclusion

This dataset is dated to 2023. As we can clearly see, Retail and Technology are the two giants of this dataset accounting for over half of the wealth in these categories. No wonder billionaires like Elon Musk, Jeff Bezos, Mark Zuckerberg and so on are so well known. It's important to note that this number is always on a moving scale and there is also a significant amount of 'crossover' between indsutries indicating that it's hard to paint a perfect picture with this simple dataset alone...